<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>travel trip form submission</h1><hr>
        <form action="form.py">
            <input type="text" placeholder="enter your name"><hr>
            <input type="text" placeholder="enter your email"><hr>
            <label for="sectionida">
                <input type="radio" name="section" id="sectionida">SECTION A
            </label>
            <label for="sectionidb">
                <input type="radio" name="section" id="sectionidb">SECTION B
            </label>

        </form>
    </div>
</body>

</html>